@import url(fonts/Montserrat-Regular.ttf);
body
{
    font-family: 'Montserrat-Regular', sans-serif;
}
#collapse1
{
    font-size: smaller;
}
.dropdown:hover>.dropdown-menu 
{
    display: block;
    margin-top: 0;
 }
 .hero-section
 {
    width: 100%;
    height: 100vh;
    color: white;
 }
.hero-section p
 {
    font-size: 30px;
 }
 .lgButton a
 {
    border: 1px solid white;
    width: 200px;
 }
 .lgButton a:hover
 {
    background-color: #6b1f40c3;
    color: white;
    border: none;
 }

 .service-section
 {
    background-color: #1F4465;
 }

 .contactus
 {
    background-color: #020c24de;
 }
 .support
 {
   border: 2px solid white;
   border-radius: 0 50%;
 }